@media only screen and (max-width: 600px){
    .bag_img   .header_h1{
        font-size: 36px !important;
        line-height: 50px;
     
    }
    .header_h1 p{
        width: 100% !important;
    }
.img_media{
display: none;
}
.How_h1 p{
    width: 100% !important;
    margin: auto;
}
.font_size_h1{
    width: 100% !important;

}
.center_bg div h1{
    font-size: 30px !important;
}
.center_bg div h1 p{
    font-size: 10px !important;
}
.bg__foter{
    display: none;
}

.card_z{
    display: none !important;
}
.nav_media{
    display: block !important;
}
}
.nav_media{
    display: none;
}



.dropdown-toggle1:hover {
    color: #086CF9 !important;
    cursor: pointer;
}

.dropdown-toggle:hover {
    color: #086CF9 !important;
}

.bag_img {
    background-image: url('./figm_img//header_img.png');
    background-size: cover;
    background-color: rgb(79, 72, 124);
    background-attachment: fixed;
    position: relative;
    height: 90vh;
}

.header_h1 p {
    font-size: 20px;
    font-family: 'DM Sans';
    line-height: 20px;
}

.header_h1 {
    position: relative;
    z-index: 333;
    font-size: 56px !important;
    line-height: 90px;

}

.bag_img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.54);
}

.card_z {
    position: relative;
    z-index: 333;
    height: 18vh;
    top: -10vh;

}

.fucus_col {
    color: #086CF9;
}

.content_h1 {
    font-size: 48px;
    line-height: 55px;

}

.content_h1 p {
    font-size: 20px;
    line-height: 30px;
}

.content_h1 .p1 {
    font-size: 24px;
}

.play_center {
    border-radius: 50%;
    background-color: #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 190px;
}

.How_h1 p {
    font-size: 16px;
}

.how_content p {
    font-size: 14px;
}

.bg_content {
    background-color: #ECF4FF;
}

.img_man {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.font_family {
    font-family: sans-serif;
}

.font_size_20px {
    font-size: 18px;
}

.child {
    background-color: #F3F3F5;
    padding: 8px 12px;
    color: white;
    position: absolute;
    width: 65px;
    height: 62px;
    left: -1px;
    top: 0px;
    background-color: #086CF9;
}

.center_bg {
    background-color: #D3E5FE;
}

.center_bg h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px !important;
    line-height: 62px;
    color: black;
    text-align: center
}

.center_bg h1 p {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 155%;
    text-align: center;
    color: #555555;
}

/* carusel */
.gallery-main {
    /* padding: 0px;  */

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.gallery-form {
    position: relative;
    width: 80%;
    overflow: hidden;
}

.galerry {
    margin-left: 0;
    width: 9900px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    transition: all 3s;
}

.galery-item {
    margin: 10px;
    height: 260px;
    width: 350px;


    display: inline-block;
}

.img_border {
    border-radius: 50% !important;
    width: 60px;
    height: 60px;
}

#prev {
    border-radius: 50% !important;
    background-color: #fff !important;
    color: #D5D4D4 !important;
    width: 40px;
    height: 40px;
    border: 1px solid #D5D4D4;
    font-size: large;
}

#next {
    border-radius: 50% !important;
    background-color: #fff !important;
    width: 40px;
    height: 40px;
    border: solid white;
    border: 1px solid #D5D4D4;
    color: #D5D4D4 !important;
    font-size: large;
}

#prev:hover {
    background-color: #086CF9 !important;
    color: #fff;
}

#next:hover {
    background-color: #086CF9 !important;

    color: #fff;
}

.bg__foter {
    background-color: #086CF9;
}

.btn_input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 10px;

    width: 105px;
    height: 35px;

    background: #7f8da1;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.file-input {

    background: #fff;
    padding: 16px;
    width: 500px;
    position: relative;
    border-radius: 3px;
}


.file-input>.button {
    display: inline-block;
    cursor: pointer;
    background: #eee;
    padding: 8px 16px;
    border-radius: 2px;
    margin-right: 8px;
}

.file-input:hover>.button {
    background: dodgerblue;
    color: white;
}

.file-input>.label {
    color: #333;
    white-space: nowrap;
    opacity: .3;
}

.file-input.-chosen>.label {
    opacity: 1;
}

.input_1:focus {
    border: none;
    outline: none;
}

/* footer */

ul {
    margin: 0px;
    padding: 0px;
    color: #01010D !important;
}

.footer-section {
    background: #D3E5FE;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text span {
    color: #000000;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
}

.facebook-bg {
    color:  #086CF9;
    background: white;
}

.twitter-bg {
    color:   #086CF9;
    background: white;
}

.google-bg {
    color:  #086CF9;
    background: white;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget .ul1 li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a {
    color: #000000;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #F7F7F7;
    border: 1px solid #F7F7F7;
    color: #01010D;
}

/* loder */

